<?xml version="1.0"?>
<config>
  <modules>
    <Dwolla_DwollaPaymentModule>
      <version>3.0.1</version>
    </Dwolla_DwollaPaymentModule>
  </modules>
  <global>
  	<resources>
	  	<DwollaPaymentModule_setup>
	  	  <setup>
		  	  <module>Dwolla_DwollaPaymentModule</module>
		  	  <class>Mage_Core_Model_Resource_Setup</class>
	  	  </setup>
          <connection>
            <use>core_setup</use>
          </connection>
	  	</DwollaPaymentModule_setup>
  	</resources>
    <models>
      <dwollaPaymentModule>
        <class>Dwolla_DwollaPaymentModule_Model</class>
      </dwollaPaymentModule>
    </models>
    <helpers>
      <dwollaPaymentModule>
        <class>Dwolla_DwollaPaymentModule_Helper</class>
      </dwollaPaymentModule>
    </helpers>
    <blocks>
      <dwollaPaymentModule>
        <class>Dwolla_DwollaPaymentModule_Block</class>
      </dwollaPaymentModule>
    </blocks>
  </global>
  <default>
    <payment>
      <dwollaPaymentModule>
        <model>dwollaPaymentModule/standard</model>
        <active>1</active>
        <dwollaTestMode>0</dwollaTestMode>
        <order_status>pending</order_status>
        <title>Dwolla</title>
        <payment_action>sale</payment_action>
        <dwollaGuestCheckout>1</dwollaGuestCheckout>
        <showDwollaLogo>1</showDwollaLogo>
        <allowspecific>0</allowspecific>
        <sort_order>1</sort_order>
      </dwollaPaymentModule>
    </payment>
  </default>
  <frontend>
    <routers>
      <dwollaPaymentModule>
        <use>standard</use>
        <args>
          <module>Dwolla_DwollaPaymentModule</module>
          <frontName>dwollaPaymentModule</frontName>
        </args>
      </dwollaPaymentModule>
    </routers>
  </frontend>
</config>
